@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');



body{
    margin: 0;
    padding: 0;
  }

  .contact {
    color: #303636;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    
  }

  .contact__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .title {
    color: #495A58;
    font-family: "Sansita", sans-serif;
    font-size: 60px;
  }

  .contact__left {
    flex: 1;
    padding-right: 70px;
    justify-content: center;
  }

  .contact__form {
    padding-top: 25px;
    margin-bottom: 15px;
  }

  .contact__text {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
  }

  input[type=text], textarea{
    width: 100%;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid #303636;
    background-color: #E5E3DC;
    transition: border-color 0.3s ease;
    color: #303636;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
  }

  input[type=tel]{
    width: 100%;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid #303636;
    background-color: #E5E3DC;
    transition: border-color 0.3s ease;
    color: #303636;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
  }

  textarea{
    height: 150px;
    width: 100%;
    border-radius: 20px;
  }

  input:focus, textarea:focus {
    background-color: #f6f4ef;
    border-color:#303636;
    outline: none;
    border-style: double;
    border-width: 3px;
  }

  input[type=email] {
    width: 100%;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid #303636;
    background-color: #E5E3DC;
    transition: border-color 0.3s ease;
    color: #303636;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
  }

  input:focus, email:focus {
    background-color: #f6f4ef;
    border-color:#303636;
    outline: none;
    border-style: double;
    border-width: 3px;
  }
  
  button {
    color: #E5E3DC;
    background-color: #D4967D;
    border-color: #D4967D;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    padding: 15px;
    border-radius: 22px;
    border: 1px solid;
    cursor: pointer;
  }

  button:hover {
    background-color: #d4967dce;
    border-color: #d4967dce;;
  }

  .contact__right {
    flex: 1;
    justify-content: right;
    padding-left: 70px;
  }

  .contact__pic {
    width: 100%;
    max-width: 800px;
    height: auto;
    
    align-items: right;
  }

  .facebook__icon svg{
    color: #4267B2;
  }



  @media (min-width: 1900px) {
    .contact__content {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  @media (min-width: 751px) and (max-width: 1120px){
    .contact__content {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media (min-width: 751px) and (max-width: 1640px){
    .contact__left {
      padding-right: 70px;
    }

    .contact__right {
      padding-left: 70px;
    }

    .contact__pic {
      max-width: 500px;
    }

  }


  @media (max-width: 850px) {
    .contact__content {
      flex-direction: column;
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    .contact__left {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 60px;
    }

    .contact__right {
      margin-top: 20px;
      padding-left: 0;
      text-align: center;
    }

    .contact__pic {
      max-width: 500px;
      align-items: center;
    }
  }

  @media (max-width: 450px) {
    .title {
      font-size: 50px;
    }
    .contact__left {
      padding-left: 0px;
      padding-right: 0px;
    }
    .contact__form {
      padding-right: 15px;
    }
    .contact {
      padding-top: 0;
    }
    .contact__content {
      padding-top: 0;
    }
  }